* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  letter-spacing: 0.1rem;
}

.grid-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
}

.form-container {
  /*background-color: red;*/
}

.list-container {
  /*background-color: pink;*/
}

.main-title,
.title {
  font-weight: 300;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 1em;
}

label {
  display: block;
  margin-bottom: 0.2em;
  font-weight: bold;
}

.form-textarea {
  width: 100%;
  min-height: 200px;
  margin-bottom: 1em;
  padding: 0.5em;
}

.button-primary {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em;
  white-space: nowrap;
  letter-spacing: .1rem;
  text-transform: uppercase;
  outline: none;
  border: none;
  border: 2px solid #2fc2ef;
  background-color: #2fc2ef;
  color: #fff;
  transition: background-color 0.2s;
}

.button-primary:hover,
.button-primary:focus {
  background-color: #166c87;
}

/* Tweets */
.tweet-list-item {
  padding: 0.5em;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 1em;
  border-bottom: 2px dashed #2fc2ef;
  text-align: left;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.remove-tweet {
  margin-left: 2em;
  padding: 0.5em 1em;
  white-space: nowrap;
  text-transform: uppercase;
  border: none;
  outline: none;
  border: 1px solid #2fc2ef;
  background-color: transparent;
  color: orangered;
}

.remove-tweet:hover,
.remove-tweet:focus {
    color: darkred;
    font-weight: bold;
}

/* media queries */
@media screen and (min-width: 650px) {
  .grid-wrapper {
    grid-template-columns: 50% 50%;
  }
}
